$font: Poppins, sans-serif;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
li {
    list-style: none;
}
#wrike-logo {
    width: 50px;
    position: absolute;
}
.text-danger {
    margin-right: 5px;
}
.form-check-input,
#all-tasks {
    border: 2px solid #333;
}

.form-select, .form-control {
    background-color: #f2f2f2;
    border-radius: 10px;
    font-size: 14px !important;
}
.dp__theme_light {
    border-radius: 10px;
    font-size: 14px !important;
}
.hidden {
    display: none;
}
#others {
    font-size: 12px;
}

.ql-toolbar {
    border: 1px solid #ced4da;
    border-radius: 10px 10px 0 0;
    background-color: #f2f2f2;
}
.ql-toolbar button {
    margin-bottom: 1px;
}
.ql-container {
    border: 1px solid #ced4da;
    border-radius: 0 0 10px 10px;
    background-color: #f2f2f2;
    overflow: visible;
}
.ql-editor {
    max-height: 150px;
}


